*{
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    min-height: 40%;
    min-width: 29%;
    max-width: 40%;
    background: #3d4b53;

}
.form__input{
    border: 2px solid #ba1735;
    padding: 10px;
    border-radius: 12px;
    width: 90%;
}
.form__input::placeholder{
    color: black;
}
.button__send{
    border: 2px solid #ba1735;
    padding: 10px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all .14s ;
}

.button__send:active{
    background: rgba(0, 0, 0, 0.34);
    transform: scale(.9);
    color: white;
}
table{

    border-radius: 4px;
    background: #3d4b53;
    padding: 6px;
}
td{
    border: 2px solid #ba1735;
    padding: 6px 10px;
    border-radius: 4px;
    background: white;
    text-align: center;
}

