*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}
body{
    background: #ececec;
    color: white;

}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 920px;
    margin: 2%;
}
header{
    background: #3d4b53;
    padding: 14px;
}
a{
    text-decoration: none;
    padding: 6px;
    border: 1px solid #ba1735;
    background: #ba1735;
    color: white;
    border-radius: 4px;
    transition: all .14s ;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    padding: 20px;
    height: 60%;
    width: 489px;
    background: #3d4b53;

}
.form__input{
    border: 2px solid #ba1735;
    padding: 10px;
    border-radius: 6px;
    background: #ba1735;
    width: 90%;
}
.form__input::placeholder{
    color: white;
}
.button__send{
    border: 2px solid #ba1735;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .14s ;
    background: #ba1735;
    color: white;
}

.button__send:active, a:active{
    background: rgba(0, 0, 0, 0.34);
    transform: scale(.9);
    color: white;
}
.output__table{
    border-radius: 4px;
    background: #3d4b53;
    padding: 6px;
    width: 20%;
    margin: 0 auto;
}
.wrapper__table{
    display: flex;
    justify-content: space-between;
    margin:10px ;
}


ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.wrapper__news{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.news__blank{
    flex-grow: 1;
    max-width: 510px;
    background: #3d4b53;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;

}
.news__text{
    text-align: justify;
    margin: 20px 0;
}
.news__date{
    display: flex;
    justify-content: end;
}


@media (min-width: 480px) and (max-width: 1200px){
    *{
        font-size: 1.8rem;
    }

    .form {
        width: 90%;
    }
    .output__table{
        width: 90%;
    }
    .news__blank {
        max-width: 100%;
    }

    .wrapper__news {
        padding: 10px;
    }

    header {
        padding: 2%;
    }

    .button__send,
    a {
        padding: 8px;
    }

    td {
        padding: 4px 6px;
    }

    .news__text {
        margin: 10px 0;
    }
}
